art
audiomentations
librosa
numpy
pandas
pandas-stubs
PyAudio
pydantic
PyYAML
rich
ruff
setuptools
soundfile
torch
torchaudio
torchcodec
torchvision
tqdm
types-pyaudio
types-PyYAML
types-setuptools
types-tqdm